@{
    ViewBag.Title = "Quantum Goods";
}

<main>
    <div class="d-flex justify-content-center align-items-center text-center bg-black bg-gradient" style="height: 100vh;">
        <h1 class="display-1 text-white">Welcome To Your Ultimate Shopping Destination!</h1>
    </div>
</main>